body {
    background: #2e2d2d;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.container{
    width: 800px;
    margin: 30px auto;
    color: 	#d678aa;
    text-align: center;
}
.lapsContainer{
    color: #000000;
}
h1,
h2,
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 2.6rem;
    text-transform: capitalize;
}
#mins,#seconds{
    font-size: 8rem;
}
#tens{
    font-size: 5rem;
}
#reset {
    width: 100px;
    height: 30px;
    background: translucency;
    color: rgb(10, 10, 10);
    border: 4px solid rgb(207, 190, 190);
    border-radius: 5px;
    margin-right: 5px;
    outline: none;
}
#start:focus,#stop:focus{
    width: 150px;
    height: 50px;
    background: rgb(211, 242, 149);
    color: rgb(85, 83, 83);
    border: 4px solid rgb(207, 190, 190);
    border-radius: 5px;
    margin-right: 10px;
    outline: none;   
}
#start,#stop,#save{
    width: 150px;
    height: 50px;
    background: transparent;
    color: rgb(6, 146, 6);
    border: 4px solid rgb(207, 190, 190);
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
} 
#start:hover,#stop:hover,#reset:hover,#save:hover{
    background: rgb(68, 68, 137);
    color: rgb(222, 240, 196);
    font-weight: 800px;
    text-transform: capitalize;

}
.table{
    margin: 25px 0;
    font-size: 1em;
    min-width: 400px;
}

.table thead tr{
    background-color: #ffffff;
    color: #000000;
    text-align: left;
}
.table td{
    padding: 10px 12px;
    color:rgb(207, 190, 190);
}